<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Connplex's Contact Us</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />
  <style>
    body {
      margin: 0;
    }
  </style>
</head>

<body>
  <center>
    <table style="
          width: 100%;
          max-width: 550px;
          padding: 0 30px;
          overflow: hidden;
          color: #bcbcbc;
          background-color: #191510;
          font-family: 'Work Sans', sans-serif;
        " cellspacing="0" cellpadding="0" border="0" align="center">

      <tr>
        <td>
          <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" style="
                background-color: #23211e;
                border-radius: 12px;
                padding: 30px 15px;
                text-align: center;
              ">
            <tr>
              <td style="font-size: 20px; line-height: 26px; font-weight: 500">
                Thank you for reaching out to us!
              </td>
            </tr>
            <tr>
              <td style="height: 20px">&nbsp;</td>
            </tr>
            <tr>
              <td style="font-size: 14px; line-height: 20px">
                <p>We've received your partner application and will evaluate it promptly. Our team will update you
                  shortly. Keep an eye out!</p>
                <p>Once more, thank you for selecting Stexa. We're eager to support you further.</p>
              </td>
            </tr>
            <tr>
              <td style="height: 20px">&nbsp;</td>
            </tr>


          </table>
        </td>
      </tr>
      <tr>
        <td style="
              text-align: center;
              padding: 20px 0;
              font-size: 12px;
              line-height: 16px;
              font-weight: 300;
            ">
          Copyright © <%= new Date().getFullYear() %>
        </td>
      </tr>
    </table>
  </center>
</body>

</html>